@import url("fonts.css");

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

html {
	font-family: "Lato", Arial, Helvetica, sans-serif;
	font-size: 10px;
}

body {
	width: 100%;
	max-width: 1020px;
	margin: auto;
	font-size: 1.2rem;
	scroll-behavior: smooth;
}

/*------------------------ header ---------------------------- */

.header {
	position: sticky;
	top: 0px;
	z-index: 50;
	background-color: #2d303a;
}

.wrapper {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	padding: 40px 38px 33px;
	text-transform: uppercase;
}

.navigation {
	display: flex;
	list-style: none;
}

.logo > a {
	font-size: 2.5rem;
	line-height: 0.253;
	letter-spacing: 0.01px;
	color: white;
	text-decoration: none;
}

.navigation a {
	position: relative;
	padding-left: 29px;
	font-size: 1.2rem;
	text-decoration: none;
	line-height: 0.527;
	letter-spacing: 0.05px;
}

.navigation a::after {
	content: "";
	display: block;
	position: absolute;
	top: 49%;
	left: 100%;
	margin-left: 14px;
	width: 2px;
	height: 2px;
	border-radius: 50%;
	background: #494e62;
}

.navigation li:last-child a::after {
	display: none;
}

.navigation a.active {
	color: #f06c64;
}

.navigation a:not(.active):hover {
	cursor: pointer;
	color: #f06c64;
}

.logo a,
.navigation a {
	font-weight: 700;
	color: white;
	text-decoration: none;
}

.logo span {
	color: #f06c64;
}

.line_color.one {
	height: 6px;
	background-color: #323746;
}

/*------------------------ slider ----------------------------*/

.section_phone {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 45px;
	padding-left: 45px;
	transition: 1s;
}

.wrapper_phones {
	transition: 4s linear;
}

.section_phone.red {
	background-color: #f06c64;
	/* z-index: 50; */
}

.section_phone.blue {
	background-color: #648bf0;
	/* z-index: 50; */
}

.slider_arrow_left {
	transform: rotate(315deg);
}

.slider_arrow_right {
	transform: rotate(135deg);
}

.slider_arrow_left,
.slider_arrow_right {
	width: 21px;
	height: 21px;
	margin-bottom: 5px;
	border-radius: 4px;
	border-top: 6px solid #ca4549;
	border-left: 6px solid #ca4549;
	cursor: pointer;
}

.slider_arrow_right:hover,
.slider_arrow_left:hover {
	border-top: 6px solid #000000;
	border-left: 6px solid #000000;
}

.wrapper_phones {
	display: flex;
	overflow: hidden;
	width: 100%;
}

.phones.one {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 53px;
	margin-bottom: 55px;
	width: 100%;
	left: 0;
}

.phones.two {
	margin-top: 40px;
	padding-left: 200px;
	width: 100%;
}

.phones {
	position: relative;
	flex-shrink: 0;
	left: 0;
	transition: 1s;
}

.iphone_vertical {
	margin-left: 46px;
}

.iphone_horizontal {
	margin-right: 46px;
	margin-bottom: 1px;
}

.iphone_vertical,
.iphone_horizontal {
	position: relative;
}

.iphone_vertical > .screen {
	top: 62px;
	left: 11px;
	width: 194px;
	height: 339px;
	background-color: black;
}

.button_screen_vertical {
	position: absolute;
	border: 0.5px solid transparent;
	border-radius: 50%;
	bottom: 36px;
	left: 86px;
	width: 42px;
	height: 42px;
	cursor: pointer;
}

.button_screen_horizontal {
	position: absolute;
	border: 0.5px solid transparent;
	border-radius: 50%;
	bottom: 114px;
	left: 8px;
	width: 42px;
	height: 42px;
	cursor: pointer;
}

#iphone_vertical_screen {
	opacity: 1;
}

#iphone_horizontal_screen {
	opacity: 1;
}

.iphone_horizontal > .screen {
	top: 11px;
	left: 57px;
	width: 339px;
	height: 194px;
	background-color: black;
}

.screen {
	position: absolute;
	border-radius: 3px;
	border: 3px solid #c6c6c6;
	background-repeat: no-repeat;
	background-position: center;
}

.line_color_slider.red {
	height: 6px;
	background-color: #ea676b;
}

.line_color_slider.blue {
	height: 6px;
	background-color: #5c6ecb;
}

.line_color_slider {
	transition: 1s;
}

/*------------------------ service ----------------------------*/

.anchor {
	position: relative;
	left: 0;
	top: -89px;
}

.section_services {
	display: flex;
	padding-right: 40px;
	padding-left: 40px;
	background-color: #f2f2f2;
}

.services {
	margin-top: 69px;
	margin-bottom: 19px;
}

.services > h1 {
	padding-bottom: 26px;
	font-size: 3rem;
	line-height: 18px;
	color: #666d89;
	font-weight: 900;
}

.services > p {
	text-align: justify;
	font-size: 1.8rem;
	line-height: 1.667;
	color: #767e9e;
	font-weight: 300;
}

/*------------------------ module_service ----------------------------*/

.modules_service {
	display: flex;
	padding: 0px 30px;
	width: 100%;
	background-color: #f2f2f2;
}

.container_modules {
	width: 33.33%;
	margin-top: 26px;
}

.module {
	display: flex;
	margin-bottom: 29px;
}

.content {
	padding: 0px 10px;
}

.content > h2 {
	font-size: 1.8rem;
	line-height: 18px;
	color: #666d89;
	font-weight: 900;
	margin-bottom: 10px;
}

.content > p {
	text-align: justify;
	font-size: 1.2rem;
	line-height: 22px;
	font-weight: 400;
	color: #767e9e;
}

.icon_module {
	padding: 0px 10px;
}

.icon_module > img {
	width: 60px;
	background-repeat: no-repeat;
	background-size: contain;
}

.line_color.three {
	height: 6px;
	background-color: #ffffff;
}

.module.b,
.module.d,
.module.f {
	padding-bottom: 30px;
}

/* ------------------------ portfolio ---------------------------- */

.section_portfolio {
	padding-top: 9px;
	width: 100%;
	background-color: #2d303a;
}

.wrapper_portfolio {
	display: flex;
	flex-direction: column;
	margin-top: 59px;
	padding: 0px 30px;
}

.portfolio {
	padding: 0px 10px;
}

.portfolio_image {
	display: flex;
	flex-wrap: wrap;
}

.portfolio > h1 {
	margin-bottom: 22px;
	font-size: 3rem;
	font-weight: 900;
	line-height: 18px;
	color: #666d89;
}

.portfolio > p {
	margin: 27px 0px 12px;
	font-size: 1.8rem;
	line-height: 30px;
	font-weight: 300;
}

.button,
.portfolio > p {
	color: #767e9e;
}

.button_portfolio {
	display: flex;
}

.button {
	margin-right: 10px;
	padding: 0px 7px;
	font-size: 1.2rem;
	font-weight: 400;
	line-height: 19px;
	border-radius: 5px;
	border: 1px solid #767e9e;
	background-color: #2d303a;
}

.button_portfolio input:hover {
	color: #dedede;
	border: 1px solid #dedede;
	cursor: pointer;
	transition: 0.4s;
}

#button_portfolio input.active {
	color: #dedede;
	border: 1px solid #dedede;
}

#button_portfolio input:not(.active):hover {
	cursor: pointer;
	color: #767e9e;
}

.portfolio_image_wrap {
	display: flex;
	flex-wrap: wrap;
	margin: 9px 0px 58px;
	width: 100%;
	height: 620px;
	overflow: hidden;
}

.portfolio_image {
	padding: 10px;
	width: 25%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.portfolio_image > div {
	width: 100%;
	height: 187px;
}

.img.active {
	border: 5px solid #f06c64;
}

.img:hover {
	cursor: pointer;
}

.img.a {
	background-image: url(./assets/Img1.png);
}

.img.b {
	background-image: url(./assets/Img2.png);
}

.img.c {
	background-image: url(./assets/Img3.png);
}

.img.d {
	background-image: url(./assets/Img4.png);
}

.img.e {
	background-image: url(./assets/Img5.png);
}

.img.f {
	background-image: url(./assets/Img6.png);
}

.img.g {
	background-image: url(./assets/Img7.png);
}

.img.h {
	background-image: url(./assets/Img8.png);
}

.img.i {
	background-image: url(./assets/Img9.png);
}

.img.j {
	background-image: url(./assets/Img10.png);
}

.img.k {
	background-image: url(./assets/Img11.png);
}

.img.l {
	background-image: url(./assets/Img12.png);
}

.line_color.four {
	height: 6px;
	background-color: #323746;
}

/* ------------------------ about us ---------------------------- */

.about_us {
	background-color: #f2f2f2;
}

.container_about_us {
	padding: 10px 30px 0px;
}

.wrapper_about_us {
	margin: 58px 0px 35px;
	padding: 0px 10px;
}

.wrapper_about_us > h1 {
	margin-bottom: 27px;
	font-size: 3rem;
	font-weight: 900;
	line-height: 18px;
	color: #666d89;
}

.wrapper_about_us > p {
	text-align: justify;
	font-size: 1.8rem;
	font-weight: 300;
	line-height: 30px;
	color: #767e9e;
}

.photo {
	margin-top: 10px;
	padding: 0px 10px;
	width: 33.33%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.wrapper_photo {
	display: flex;
	width: 100%;
}

.img_photo {
	height: 300px;
	margin-bottom: 17px;
}

.img_photo.a {
	background-image: url(assets/photo1.png);
}

.img_photo.b {
	background-image: url(assets/photo2.png);
}

.img_photo.c {
	background-image: url(assets/photo3.png);
}

.photo > h2 {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: 1.8rem;
	font-weight: 900;
	line-height: 18px;
	letter-spacing: -0.15px;
	color: #666d89;
}

.photo > p {
	text-align: justify;
	margin-top: 10px;
	font-size: 1.2rem;
	font-weight: 400;
	line-height: 22px;
	color: #767e9e;
}

.social {
	display: flex;
	margin: 22px 0px 67px;
}

.social > .icon {
	margin-right: 8px;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	border: 1px solid #666d89;
	background-repeat: no-repeat;
	background-position: center;
}

.icon.f {
	background-image: url(assets/social1.png);
}

.icon.g {
	background-image: url(assets/social2.png);
}

.icon.t {
	background-image: url(assets/social3.png);
}

.icon.in {
	background-image: url(assets/social4.png);
}

.social a:hover {
	background-color: #afb6d6;
	border: 0.5px solid black;
	transition: 0.4s;
}

.line_color.five {
	width: 100%;
	height: 6px;
	background-color: #ffffff;
}

/* ------------------------ get quote ---------------------------- */

.get_quote {
	padding: 10px 30px 0px;
	background-color: #f06c64;
}

.wrapper_get_quote {
	margin-top: 58px;
	padding: 0px 10px;
}

.wrapper_get_quote > h1,
p {
	color: #f0d8d9;
}

.wrapper_get_quote > h1 {
	margin-bottom: 27px;
	font-size: 3rem;
	font-weight: 900;
	line-height: 18px;
	letter-spacing: -0.2px;
}

.wrapper_get_quote > p {
	font-size: 1.8rem;
	font-weight: 300;
	line-height: 30px;
	text-align: justify;
}

.wrapper_form {
	display: flex;
	justify-content: space-between;
	margin-top: 44px;
}

.module_form {
	width: 66.6666%;
	margin-bottom: -3px;
}

.form {
	display: flex;
	flex-direction: column;
	padding: 0px 10px;
}

.form > input,
.form > textarea {
	margin-bottom: 16px;
	padding: 8px 0px 8px 14px;
	width: 100%;
	font-size: 1.2rem;
	font-weight: 400;
	line-height: 22px;
	resize: none;
	border: none;
	border-radius: 5px;
	background-color: #d6564f;
	color: #f48c8f;
}

.form > textarea {
	height: 202px;
	letter-spacing: -0.5px;
	word-spacing: -1px;
}

.form #submit:hover {
	cursor: pointer;
	background-color: #a13032;
	color: #eca7a7;
	transition: 0.4s;
}

::-webkit-input-placeholder {
	color: #f48c8f;
}

::-moz-placeholder {
	color: #f48c8f;
}

#message-block {
	position: fixed;
	width: 100vw;
	height: 100vh;
	bottom: 0;
	left: 0;
	background: #0008;
}

#message-block.hidden {
	display: none;
}

#message {
	padding-top: 18px;
	width: 40vw;
	margin: 18% auto;
	z-index: 100;
	font-size: 1.4rem;
	border: 2px solid #7d5ccb;
	border-radius: 8px;
	background-color: rgb(55, 105, 231);
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	box-shadow: 0px 0px 15px 10px rgba(255, 255, 255, 0.5);
}

#close-btn {
	margin: 15px 0px;
	width: 60px;
	height: 30px;
	font-size: 1.4rem;
	border-radius: 4px;
	border: 1px solid #5c6ecb;
	background-color: #d6564f;
	color: #dedede;
	cursor: pointer;
}

.contact_information {
	padding: 0px 10px;
	width: 33.33%;
}

.info {
	color: #f0d8d9;
}

.info > h2 {
	margin-bottom: 10px;
	font-size: 1.8rem;
	font-weight: 900;
	line-height: 18px;
	letter-spacing: -0.1px;
}

.info > p {
	margin-bottom: 20px;
	font-size: 1.2rem;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: -0.05px;
}

.module_contact > p {
	font-size: 1.2rem;
	font-weight: 400;
	line-height: 22px;
	text-align: justify;
	color: #f0d8d9;
}

.module_contact {
	display: flex;
	align-items: center;
}

.icon_contact {
	margin-right: 8px;
	width: 15px;
	height: 15px;
	background-repeat: no-repeat;
	background-position: center;
}

.icon_contact.address {
	background-image: url(assets/location.png);
}

.icon_contact.phone {
	background-image: url(assets/phonep3.png);
}

.icon_contact.email {
	background-image: url(assets/mail.png);
}

.line_color.six {
	height: 6px;
	background-color: #ea676b;
}

.module_contact a {
	color: #f0d8d9;
	text-decoration: none;
}

/* ------------------------ footer ---------------------------- */

.footer {
	padding: 10px 30px;
	background-color: #2d303a;
}

.wrapper_footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 12px 0px 14px;
	padding: 0px 10px;
}

.social_footer {
	display: flex;
}

.copyright > p {
	font-size: 1.2rem;
	color: #666d89;
}

.social_footer > .icon {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center;
	border: 1px solid #666d89;
	background-color: #2d303a;
}

.icon.f,
.icon.g,
.icon.t {
	margin-right: 8px;
}

.icon.f {
	background-image: url(assets/social1.png);
}

.icon.g {
	background-image: url(assets/social2.png);
}

.icon.t {
	background-image: url(assets/social3.png);
}

.icon.in {
	background-image: url(assets/social4.png);
}

.social_footer a:hover {
	background-color: #ee9c9e;
	border-color: #ee9c9e;
	transition: 0.4s;
}
